{
  "presets": ["next/babel"],
  "plugins": [
    ["emotion"],
    [
      "import",
      {
        "libraryName": "@chakra-ui/core",
        "libraryDirectory": "dist",
        "camel2DashComponentName": false
      }
    ]
  ]
}
